.form-group {
  /* padding: 10px; */
  /* border: 2px solid; */
  /* margin: 10px; */
  position: relative;
}
.form-group > label {
  position: absolute;
  top: -7px;
  font-weight: 600;
  font-size: 12px;
  left: 20px;
  background-color: rgb(255, 255, 255);
}

.form-group > input {
  border: 1px solid #acacac;
}
